th {
    font-size: 14px;
    color: #450b78;
}

th a {
    color: #450b78;
}

th a:hover {
    color: #450b78;
}

.size-text {
    font-size: 14px;
}

.btn-actions {
    background: #f9218d;
    -moz-user-select: none;
    text-transform: capitalize;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.radius-btn {
    padding: 15px 15px;
    border-radius: 30px;
}

.btn-add {
    background: blue;
}

.btn-add:hover {
    background: blue;
}

.btn-edit {
    background: #712fda;
}

.btn-edit:hover {
    background: #712fda;

}

.btn-remove {
    background: red;
}

.pagination {
    font-size: 14px;
    font-weight: 700;
}

.swal2-title {
    font-size: 2.5em;
}

.swal2-content {
    font-size: 1.5em;
}

.swal2-styled.swal2-confirm {
    font-size: 1.3em;
}
.swal2-styled.swal2-cancel {
    font-size: 1.3em;
}

.label-color {
    color: #450b78;
    font-weight: 500;
    margin-top: 20px;
}

input[type="text"], input[type="email"], input[type="datetime-local"], input[type="password"], select {
    background-color : #fff;
    font-size: 14px;
}

.checkbox {
    margin-top: 40px;
}

.message {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5rem;
}

.error-message {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.file {
    display: grid;
}

.btn-input-file {
    background: #712fda;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 20px;
}

.divImage {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.divImage img {
    max-width:100%;
    height: 200px;
}

iframe {
    display: none;
}
